<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container-fluid">
      <div class="navbar-expand" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="/r/all">r/all</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/r/">Browse Subs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" <%if (isLogin) {%>href="/r/<%= (subPage) ? subPage.title : "all" %>/post"<%} else { %>href="/u/home"<%}%>>Post</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Options
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/r/all">r/all</a></li>
              <li><a class="dropdown-item" href="/r/">Browse Subs</a></li>
              <li><a class="dropdown-item" <%if (isLogin) {%>href="/r/<%= (subPage) ? subPage.title : "all" %>/post"<%} else { %>href="/u/home"<%}%>>Post</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/u/home"><%= (isLogin) ? "Profile" : "Login" %></a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="d-flex">
        <% if (isLogin) {%> 
          <a class="btn btn-secondary me-2" href="/u/home">Profile</a>
          <% } else {%> 
            <a class="btn btn-primary me-2" href="/u/home">Login</a>
            <% } %> 
      </div>
    </div>
  </nav>
  <!-- Navbar -->

  <!-- Background image -->
  <div
    class="p-5 text-center bg-image subPageBanner"
    style="
      background-image: url('<%= (subPage) ? subPage.banner : "https://64.media.tumblr.com/c7113169c74c8f689f2a1a1334135ff9/0db487b8464b0fe5-44/s1280x1920/0d182017e6ed828aed83093f68bc3ff0ee71cbf3.jpg" %>');
      height: 200px;
      margin-top: 58px;
    "
  >
    <a class="subPageBannerLink" href="/r/<%=subPage.title %>/">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3" style="text-decoration: none;"><%= (subPage) ? subPage.title : "/all"%></h1>
          <!-- <h4 class="mb-3">Subheading</h4>
          <a class="btn btn-outline-light btn-lg" href="#!" role="button"
          >Call to action</a
          > -->
        </div>
      </div>
    </div>
  </a>
  </div>
  <!-- Background image -->
</header>

<!-- Template used from https://mdbootstrap.com/docs/standard/navigation/headers/ -->