<%- include('../partials/header.ejs', {subPage: subPage}) %> 

<h1><%= subPage.title%></h1>
<a class="card-text" href="/r/<%= subPage.title%>/edit"><small class="text-muted">edit</small></a>
<div class="row row-cols-1 row-cols-md-1 g-4"></div>
    <% for (let i=0; i<posts.length; i++) {%> 
        <div class="card mb-3" style="max-width: 1080px;">
            <div class="row g-0">
            <% if (posts[i].img) {%> 
              <div class="col-md-4 w-10">
                <img src="<%= posts[i].img %>" class="img-fluid rounded-start" >
              </div>
              <% } %> 
              <div class="col-md-8">
                <div class="card-body">
                  <a class="card-title text-start" href="/r/<%= subPage.title %>/<%= posts[i]._id %>"><%= posts[i].title %></a>
                  <% if (posts[i].shortDescription) {%> 
                  <p class="card-text"><%= posts[i].shortDescription %></p>
                  <% } %> 
                </div>
              </div>
            </div>
          </div>
        <% } %> 
    </div>