<%- include('../partials/header.ejs', {subPage: post.subPage, isLogin: isLogin}) %> 

<div class="container">
<div class="row mb-3">
  <div class="col-2">
    <p>Total Votes: <%= post.votes.length %></p>
  </div>
  <div class="col-2">
    <a href="/r/<%=post.subPage.title%>/<%=post._id%>/vote"><%= (hasVoted >= 0) ? "VOTED" : "VOTE" %> </a>
  </div>
</div>
<div class="card mb-3" style="height: 500px;">
    <div class="card-body">
      <h5 class="card-title"><%= post.title%></h5>
      <% if (post.img) {%> <img src="<%= post.img%>" class="card-img-top img-fluid" alt="..." > <% } %> 
      <p class="card-text"><%= post.description%></p>
      <div>
        <% if (author) {%> 
        <a class="card-text" href="/r/<%=post.subPage.title%>/<%=post._id%>/edit"><small class="text-muted">Edit</small></a>
        <form action="/r/<%=post.subPage.title%>/<%=post._id%>/?_method=DELETE" method="POST" class="d-inline">
          <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
        <% } %> </div>
    </div>
  </div>

</div>
  