<%- include('../partials/header.ejs', {subPage: post.subPage}) %> 

<div class="card mb-3">
    <img src="<%= post.img%>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= post.title%></h5>
      <p class="card-text"><%= post.description%></p>
      <a class="card-text" href="/r/<%=post.subPage.title%>/<%=post._id%>/edit"><small class="text-muted">Edit</small></a>
    </div>
  </div>